html {
	scroll-behavior: smooth;
	box-sizing: border-box;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

body {
	margin: 0;
	padding: 0;
	background-color: var(--color-background);
	color: var(--color-text);
	font-family: var(--font-family-body);
	font-size: var(--font-size-md);
	line-height: var(--line-height-normal);
	transition: all var(--transition-md);
}

/* Set font on all elements */

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: var(--font-family-heading);
	transition: all var(--transition-md);
}

@media only screen and (max-width: 30rem) {
	h1,
	h2,
	h3 {
		line-height: var(--line-height-tight);
	}
}

/* Heading styles */

h1 {
	font-size: var(--font-size-h1);
}

h2 {
	font-size: var(--font-size-h2);
	margin-block: 0.6em;
}

h3 {
	font-size: var(--font-size-h3);
	margin-block: 0.4em;
}

h4 {
	font-size: var(--font-size-h4);
}

h5 {
	font-size: var(--font-size-h5);
}

h6 {
	font-size: var(--font-size-h6);
}

p {
	margin-block: 0.4em;
	line-height: var(--line-height-loose);
	transition: all var(--transition-md);
}

li {
	margin-block: 0.6em;
}

.container {
	padding: var(--space-xl);
}

@media (max-width: 48rem) {
	body {
		font-size: var(--font-size-sm);
	}

	h1 {
		font-size: calc(var(--font-size-h1) * 0.8); /* Adjust as needed for responsiveness */
	}

	h2 {
		font-size: calc(var(--font-size-h2) * 0.8); /* Adjust as needed for responsiveness */
	}

	h3 {
		font-size: calc(var(--font-size-h3) * 0.9); /* Adjust as needed for responsiveness */
	}

	/* Adjust other headings as necessary */
}

/* Link styles */

a {
	color: var(--color-text);
	transition: all var(--transition-fs);
}

a:hover {
	color: var(--color-secondary);
}

/* Responsive styles */
@media (max-width: 24rem) {
	.hide-on-xs {
		display: none !important;
	}
}

/* Section styles */
.page-section {
	padding: var(--spacing-vertical-section) var(--spacing-gutters);
}
