@mixin emocionante-text {
	display: inline-block;
	font-size: var(--font-size-xl);
	font-weight: 800;

	// text-decoration: underline;
}

@mixin basic-input {
	padding: var(--space-sm);
	font-size: var(--font-size-sm);
	color: var(--font-color-primary);
	background-color: transparent;
	border: 1px solid var(--border-color-primary);
	border-radius: var(--border-radius-md);
	transition:
		background-color var(--transition-md),
		border-color var(--transition-md),
		color var(--transition-md);

	&:focus {
		background-color: var(--color-accent-2-surface);
		border-color: var(--color-accent-2);

		&::placeholder {
			opacity: 1;
		}
	}
}

/* ANIMATIONS */
@mixin launch($x, $y) {
	@keyframes launch {
		0% {
			transform: translate($x, $y);
		}

		40% {
			transform: translate($x, -130vh);
		}

		45% {
			display: none;
			visibility: hidden;
			width: 0;
			height: 0;
			overflow: hidden;
			opacity: 0;
			transform: translate($x, 150vh);
			animation: none;
		}

		60% {
			transform: translate($x, 190vh);
		}

		100% {
			opacity: 1;
			transform: translate($x, $y);
		}
	}
}
